body {
    background-color: rgb(0, 255, 4);
    font-size: 20px;
    display: flex;
    flex-direction: column;

}
#video {
    width: 80%;
    height: 100px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

button {
    width: 30%;
    margin: 0 auto;
}
